In [18]:
import json
import pandas as pd
import datetime

In [6]:
with open('power_price_model.json') as f:
    d = json.load(f)
    print(d)

{'Prob.Neg.Jump': 1.67272112866436, 'Prob.Pos.Jump': 0.851691098190156, 'Exp.Jump.Distr': 0.0492406002472172, 'Est.Mean.Rev': 0.0724555641626977, 'Est.Mean': {'year': ['2015', '2015', '2015', '2015', '2015', '2015', '2015', '2016', '2016', '2016', '2016', '2016', '2016', '2016', '2016', '2016', '2016', '2016', '2016', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2018', '2018', '2018'], 'month': ['6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3'], 'Mean': [35.1497222222222, 36.0124596774194, 32.9944489247312, 31.6154166666667, 40.1082953020134, 32.3118611111111, 24.6011155913978, 29.8556720430108, 21.1966522988506, 23.5169717362046, 23.8760138888889, 23.0947983870968, 27.8739583333333, 27.9127956989247, 26.7839516129032, 31.265125, 37.396644295302, 37.5539861111111, 40.1454704301075, 54.5287231182796, 38.4911904761905, 31.365598923284, 27.6020555555556, 32.1307392473118, 29.7797777777778, 32.3251344086022, 31.3856182795699, 34.0241527777778, 29.2331409395973, 41.569875, 29.5433064516129, 29.4583198924731, 39.8258779761905, 39.4739732888147]}, 'Est.Std': {'month': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], 'estimated.monthly.std': [6.71634191807104, 6.12789081945551, 5.53039962946105, 5.01092693390778, 4.64516348607266, 4.48640354208273, 4.55777952035703, 4.84889144875514, 5.31732231222126, 5.89481850432442, 6.49723484829395, 7.03679512941881]}}

In [7]:
type(d)

dict

In [43]:
pd.DataFrame(d['Est.Std'])

    month  estimated.monthly.std
0       1               6.716342
1       2               6.127891
2       3               5.530400
3       4               5.010927
4       5               4.645163
5       6               4.486404
6       7               4.557780
7       8               4.848891
8       9               5.317322
9      10               5.894819
10     11               6.497235
11     12               7.036795

In [39]:
test = pd.DataFrame(d['Est.Mean'])
test.year = test.year.astype(int)
test.month = test.month.astype(int)
test.head()

   year  month       Mean
0  2015      6  35.149722
1  2015      7  36.012460
2  2015      8  32.994449
3  2015      9  31.615417
4  2015     10  40.108295

In [42]:
test.loc[(test["year"] == 2015) & (test["month"] == 6), "Mean" ][0]

35.1497222222222

In [25]:
from datetime import datetime
from datetime import timedelta

In [26]:
date = datetime.fromisoformat("2020-01-01")

In [27]:
date

datetime.datetime(2020, 1, 1, 0, 0)

In [28]:
date + timedelta(hours=1)

datetime.datetime(2020, 1, 1, 1, 0)

In [29]:
date.month

1

In [30]:
type(date.month)

int

In [1]:
import gym

In [2]:
import gym_energy_storage

In [3]:
env = gym.make('energy_storage-v0')

TabError: inconsistent use of tabs and spaces in indentation (energy_storage_env.py, line 26)